@model VehiculoViewModel
@{
    ViewData["Title"] = "Borrar Vehiculo";
}

<div class="row">
    <div class="col-md-8  offset-md-2 by-10" id="BorrarVehiculo">
        <div class="row" id="TituloBorrarVehiculo">
            <h1>Borrar Vehiculo</h1>
        </div>
        <div class="row" id="SubtituloBorrarVehiculo">
            <h3 class="mb-3">¡Esta seguro que desea borrar el vehiculo con placa @Model.Placa</h3>
        </div>
        <div class="row" id="FormularioBorrarVehiculo">
            <form asp-action="BorrarVehiculo">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn" id="BotonBorrarVehiculo">Borrar</button>
                <a class="btn" asp-action="Index" id="botonCancelarVehiculo">Cancelar</a>
            </form>
        </div>
    </div>
</div>

