@{
    ViewData["Title"] = "No Encontrado";
}
<div class="row">
    <div class="col-md-8  offset-md-2 by-10" id="NoEncontrado">
        <h1 id="TituloNoEncontrado">El recurso solicitado no ha sido encontrado</h1>
        <a asp-action="Index" id="NoEncontradoLink">Click aqui pare regresar al home.</a>
        <br />
        <br />
    </div>
</div>